html {
    height, width : 100%;
}

body {
    height, width : 100%;
    background: brown;
    transition: 2s;
}

.quote {
    width : 400px;
    padding: 30px;
    margin: 150px auto;
    background: white;
}

.words {
    text-align: center;
    font-family: 'Oranienbaum', serif;
    font-size: 30px;
    transition: 2s;
}

.author {
    text-align: right;
    font-family: 'Oranienbaum', serif;
    transition: 2s;
}

.socmed {
    width : 30px;
    height: 30px;
    position: relative;
}

i {
    transition: 2s;
}

.send {
    color: white;
    position: relative;
    float: right;
    border: 0;
    padding: 10px;
    transition: 2s;
}

.test {
    bottom: 100px;
}
